
.chart{
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: inline-block;

}
/* p {
  text-align: center;
  font-family:'Verdana', sans-serif;
  font-size: 10px;
} */

canvas{
  height: 100%;
}

.panel-title{
  margin-left: 70px;
}

.aaa{
  margin-left: -8.3em;
}
